<header>
  <nav>
    <div id="main-title"><a routerLink="/">GOOGOLHKL</a></div>

    <!--
    <a class="menu-trigger type7" href="#" (click)="test($event)">
      <span></span>
      <span></span>
      <span></span>
    </a>
  -->
    <a class="menu-trigger type7" href="#" [ngClass]="{'active-7': hamberger}" (click)="hamberger= !hamberger">
      <span></span>
      <span></span>
      <span></span>
    </a>

    <div class="my-menu">
        <ul id="main-menu">
          <li><a routerLink="/">WORK</a></li>
          <li><a routerLink="/blog">BLOG</a></li>
          <li><a routerLink="/about">ABOUT</a></li>
          <li><a routerLink="/resume">RESUME</a></li>
        </ul>
        <ul id="social">
          <li><a href="https://www.instagram.com/googolhkl/">Instagram</a></li>
          <li><a href="https://www.facebook.com/googolhkl">Facebook</a></li>
          <li><a href="https://www.linkedin.com/in/hooney-lee-a37b63bb/?trk=hp-identity-name">LinkedIn</a></li>
          <li><a href="https://github.com/googolhkl">Github</a></li>
        </ul>
    </div>

  </nav>
</header>


<router-outlet></router-outlet>