<header>
  <nav>
    <div class="mobile">
      <div id="main-bar">
        <div id="main-title"><a routerLink="/">GOOGOLHKL</a></div>
        <div class="menu-trigger hamberger" [ngClass]="{'hamberger-clicked': hamberger}" (click)="hamberger = !hamberger" (click)="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div class="main-bar-placeholder"></div>

    <div class="menu-wrapper" [ngStyle]="getMenuStyle()">
        <ul id="main-menu">
          <li><a routerLink="/" (click)="hamberger = !hamberger" (click)="toggleMenu()">WORK</a></li>
          <li><a routerLink="/blog" (click)="hamberger = !hamberger" (click)="toggleMenu()">BLOG</a></li>
          <li><a routerLink="/about" (click)="hamberger = !hamberger" (click)="toggleMenu()">ABOUT</a></li>
          <li><a routerLink="/resume" (click)="hamberger = !hamberger" (click)="toggleMenu()">RESUME</a></li>
        </ul>
        <ul id="social">
          <li><a class="ion-social-instagram" href="https://www.instagram.com/googolhkl/"></a></li>
          <li><a class="ion-social-facebook" href="https://www.facebook.com/googolhkl"></a></li>
          <li><a class="ion-social-linkedin" href="https://www.linkedin.com/in/hooney-lee-a37b63bb"></a></li>
          <li><a class="ion-social-github" href="https://github.com/googolhkl"></a></li>
        </ul>
    </div>
  </nav>
</header>


<router-outlet></router-outlet>