/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

    h1 {
        color: #369;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 250%;
      }
      h2, h3 {
        color: #444;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
      }
      body {
        /* margin: 2em; */
        margin: 0;
        padding: 0;
      }
      body, input[text], button {
        color: #888;
        font-family: Cambria, Georgia;
      }

    /* Post Detail */
    .post-detail-content h1, h2, h3, h4 {
      color: black;
    }
    .post-detail-content a {
      color: #6bacce;
    }
    .post-detail-content ul, ol {
      color: black;
      font-size: 1em;
    }
    .post-detail-content ul, li {
      margin: 1em 0;
    }
    .post-detail-content blockquote {
      background-color: #ddf4ff;
      padding: 1em;
      color: #14506e;
    }
    .post-detail-content table {
      border-collapse: collapse;
    }
    .post-detail-content table, th, td{
      border: 1px solid black;
    }

      /* everywhere else */
      * {
      }
